.Resume {
  position: relative;
  background: gray;
  max-height: 55vh;
  width: 35vw;
  box-sizing: border-box;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: gray;
  border-bottom-color: gray;
  box-shadow: 1px 1px 0 0 #000;
}

.light-resume {
  display:  flex;
  flex-direction: row;
  height: 90%;
  padding: 1rem;
  border: 1px solid gray;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background: #bfbfbf;


  img {
    max-width: 75%;
    min-width: 7rem;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 1.5rem 0rem;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      cursor: pointer;
    }

    &:visited {
      color: black;
    }
  }
}

@media screen and (max-width: 675px) {
  .Resume {
    min-width: 70vw;
    max-height: 65vh;
  }
  
  .light-resume {
    flex-direction: column;
    height: 50%;

    img {
      max-width: 55%;
    }
  }
}